[submodule "models/all-MiniLM-L6-v2"]
	path = models/all-MiniLM-L6-v2
	url = https://huggingface.co/sentence-transformers/all-MiniLM-L6-v2
[submodule "models/paraphrase-multilingual-MiniLM-L12-v2"]
	path = models/paraphrase-multilingual-MiniLM-L12-v2
	url = https://huggingface.co/sentence-transformers/paraphrase-multilingual-MiniLM-L12-v2
